---
import SecondLayout from '../layouts/SecondLayout.astro';
---

<SecondLayout title="Welcome to Astro.">
<section>
          <div class="header-about">
            <div class="head-table">
              <div class="head-cell">
                <h1>
                  Our Story
                </h1>
                <p>
                  Here's our story, mybe you want to know why we are here now !
                </p>
              </div>
            </div>
          </div>
          <div class="content-about">
            <img alt="zebra-pattern" class="img-responsive img-center" src="assets/images/zebra-pattern.jpg">
            <div class="container">
              <div class="detail-about">
                <div class="row">
                  <div class="col-sm-4 hidden-xs">
                    <div class="detail-about-relative">
                      <ul class="js-about-point">
                        <li>
                          Why Booking
                        </li>
                        <li>
                          Our Mission
                        </li>
                        <li>
                          Testimonials
                        </li>
                        <li>
                          Booking History
                        </li>
                        <li>
                          Booking Guarantee
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <h3>
                      Why Booking ?
                    </h3>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    </p>
                    <p>
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                    </p>
                    <p>
                      Unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    </p>
                    <p>
                      Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
                    </p>
                    <p>
                      Aldus PageMaker including versions of Lorem Ipsum
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    </p>
                    <p>
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                    </p>
                    <hr>
                    <h3>
                      Our Mission
                    </h3>
                    <p>
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    </p>
                    <hr>
                    <h3>
                      Our Vission
                    </h3>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    </p>
                    <hr>
                    <h3>
                      Testimonials
                    </h3>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                    <p class="italic-style">
                      “Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like ” 
                    </p>
                    <p>
                      - Jacob Jr
                    </p>
                    <hr>
                    <h3>
                      Booking History
                    </h3>
                    <p>
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s .
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    </p>
                    <p>
                      When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <hr>
                    <h3>
                      Booking Guarantee
                    </h3>
                    <p>
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    </p>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</SecondLayout>

