---
import SecondLayout from '../layouts/SecondLayout.astro';
---

<SecondLayout title="Welcome to Astro.">
	 <section>
          <div class="header-about header-contacto">
            <div class="head-table">
              <div class="head-cell">
                <h1>
                  Contact Us
                </h1>
                <p>
                  We know you have many question about us so please Let me know !
                </p>
              </div>
            </div>
          </div>
          <div class="content-about">
            <div class="container">
              <div class="detail-about">
                <div class="row">
                  <div class="col-sm-4 hidden-xs">
                    <div class="detail-about-relative">
                      <ul class="js-about-point">
                        <li>
                          <h3>
                            Need Help ?
                          </h3>
                          <p>
                            Call Fast on 
                          </p>
                          <p></p>
                          <h3>
                            901 901 877 89
                          </h3>
                          <p>
                            Making your journey now!
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-8 contact-column">
                    <h3>
                      Contact Us
                    </h3>
                    <p>
                      Hello there,
                    </p>
                    <p>
                      Thanks to come in here, send your question for us its really can make us can know what you need now !!
                    </p>
                    <hr>
                    <div class="row">
                      <div class="col-sm-6 pad-right-75">
                        <div class="form-group">
                          <span class="input input--kohana input--white"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-user icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Your Name</span></label></span>
                        </div>
                      </div>
                      <div class="col-sm-6 pad-left-75">
                        <div class="form-group">
                          <span class="input input--kohana input--white"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-envelope icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Your Email</span></label></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <textarea class="form-custom form-full input--white" placeholder="Message"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 pad-right-75">
                        <div class="form-group">
                          <span class="input input--kohana input--white"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-phone icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Dialing Code Address</span></label></span>
                        </div>
                      </div>
                      <div class="col-sm-6 pad-left-75">
                        <div class="form-group">
                          <span class="input input--kohana input--white"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-phone icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Phone Number</span></label></span>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-pink button-default button-full">Submit</button>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <p>
                      We really waiting you contact us !!              
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
</SecondLayout>

