---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
<section>
          <div class="top-destination">
            <div class="img-relative">
              <div class="animated fadeIn des-1">
                <img alt="des-1-lg" class="img-responsive img-100" src="assets/images/des-1-lg.jpg">
                <div class="text-destination">
                  <div class="text-table">
                    <div class="text-cell">
                      <h1>
                        Zanzibar
                      </h1>
                      <p>
                        Zanzibar is without doubt one of Africa's finest safari destinations
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="animated fadeIn des-2 hide">
                <img alt="des-2-lg" class="img-responsive img-100" src="assets/images/des-2-lg.jpg">
                <div class="text-destination">
                  <div class="text-table">
                    <div class="text-cell">
                      <h1>
                        Zanzibar
                      </h1>
                      <p>
                        Zanzibar is without doubt one of Africa's finest safari destinations
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="animated fadeIn des-3 hide">
                <img alt="des-3-lg" class="img-responsive img-100" src="assets/images/des-3-lg.jpg">
                <div class="text-destination">
                  <div class="text-table">
                    <div class="text-cell">
                      <h1>
                        Zanzibar
                      </h1>
                      <p>
                        Zanzibar is without doubt one of Africa's finest safari destinations
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="animated fadeIn des-4 hide">
                <img alt="des-4-lg" class="img-responsive img-100" src="assets/images/des-4-lg.jpg">
                <div class="text-destination">
                  <div class="text-table">
                    <div class="text-cell">
                      <h1>
                        Zanzibar
                      </h1>
                      <p>
                        Zanzibar is without doubt one of Africa's finest safari destinations
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="animated fadeIn des-5 hide">
                <img alt="des-5-lg" class="img-responsive img-100" src="assets/images/des-5-lg.jpg">
                <div class="text-destination">
                  <div class="text-table">
                    <div class="text-cell">
                      <h1>
                        Zanzibar
                      </h1>
                      <p>
                        Zanzibar is without doubt one of Africa's finest safari destinations
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrap-info-destination">
                <div class="container">
                  <ul class="left-icon-destination">
                    <li class="active">
                      <div class="icon-wrap">
                        <i aria-hidden="true" class="fa fa-heart md-size"></i>
                      </div>
                      <div class="count-text">
                        12.450
                      </div>
                    </li>
                    <li>
                      <div class="icon-wrap">
                        <i aria-hidden="true" class="fa fa-map-marker md-size"></i>
                      </div>
                      <div class="count-text">
                        10,302
                      </div>
                    </li>
                  </ul>
                  <div class="right-icon-destination">
                    <ul>
                      <li>
                        1
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="point-destination">
              <div class="container">
                <div class="point-slider-image-destination auto-position">
                  <ul>
                    <li class="active active-5">
                      <div class="hover-active">
                        &nbsp; 
                      </div>
                      <div class="span-active act-5">
                        <div class="svg-table">
                          <div class="svg-cell">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="active active-6">
                      <div class="hover-active">
                        &nbsp; 
                      </div>
                      <div class="span-active act-6 hide">
                        <div class="svg-table">
                          <div class="svg-cell">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="active active-7">
                      <div class="hover-active">
                        &nbsp; 
                      </div>
                      <div class="span-active act-7 hide">
                        <div class="svg-table">
                          <div class="svg-cell">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="active active-8">
                      <div class="hover-active">
                        &nbsp; 
                      </div>
                      <div class="span-active act-8 hide">
                        <div class="svg-table">
                          <div class="svg-cell">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="active active-9">
                      <div class="hover-active">
                        &nbsp; 
                      </div>
                      <div class="span-active act-9 hide">
                        <div class="svg-table">
                          <div class="svg-cell">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="weather-wrap orange-version">
                        <div class="weather-left">
                          <div class="weather-text">
                            Weather
                            <div class="icon-weather">
                              <div class="icon">
                                <img alt="cloud-white" src="assets/images/cloud-white.png">
                              </div>
                              <div class="text-weather count">
                                24
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="weather-right">
                          <div class="weather-text">
                            5 Sep 2016
                            <div class="icon-weather">
                              <div class="icon">
                                <img alt="wing-white" src="assets/images/wing-white.png">
                              </div>
                              <div class="text-weather count">
                                20
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="info-place">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="title-des">
                        Share this place
                      </div>
                      <ul class="des-socmed round-template">
                        <li>
                          <div class="icon-wrap">
                            <i aria-hidden="true" class="fa fa-facebook md-size"></i>
                          </div>
                        </li>
                        <li>
                          <div class="icon-wrap">
                            <i aria-hidden="true" class="fa fa-twitter md-size"></i>
                          </div>
                        </li>
                        <li>
                          <div class="icon-wrap">
                            <i aria-hidden="true" class="fa fa-envelope md-size"></i>
                          </div>
                        </li>
                        <li>
                          <div class="icon-wrap">
                            <i aria-hidden="true" class="fa fa-pinterest-p md-size"></i>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <div class="title-des">
                        5 People Like This Place
                      </div>
                      <ul class="photo-like">
                        <li>
                          <div class="photo-wrap photos-1">
                            &nbsp;
                          </div>
                        </li>
                        <li>
                          <div class="photo-wrap photos-2">
                            &nbsp;
                          </div>
                        </li>
                        <li>
                          <div class="photo-wrap photos-3">
                            &nbsp;
                          </div>
                        </li>
                        <li>
                          <div class="photo-wrap photos-4">
                            &nbsp;
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4">
                      <div class="title-des">
                        Contact Us
                      </div>
                      <ul class="round-template">
                        <li>
                          <div class="icon-wrap">
                            <i aria-hidden="true" class="fa fa-phone md-size"></i>
                          </div>
                        </li>
                        <li class="phone-number">
                          901 901 877 89
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="description">
            <div class="container">
              <div class="row">
                <div class="col-sm-8">
                  <div class="content-des">
                    <h3>
                      Zanzibar
                    </h3>
                    <hr>
                    <p>
                      Zanzibar is without doubt one of Africa’s finest safari destinations.
                    </p>
                    <p>
                      At the heart of Zanzibar’s safari areas is the Okavango Delta, where Africa’s third-largest river fans across desert sands in a myriad of shimmering waterways and lagoons, giving birth to a green oasis half the size of Switzerland. A safari here is unique and a game watcher’s paradise as one of the world’s richest ecosystems teems with wildlife of all kinds. Though much of the water is seasonal, there are some permanent rivers, and mokoros (traditional poled canoes) glide silently by groves of papyrus and iridescent flocks of birds.
                    </p>
                    <p>
                      To the north of the Delta the Chobe River, within easy driving distance of the Victoria Falls, attracts some of Africa’s largest elephant herds; while to the south the extraordinary Makgadikgadi and Nxai pans, drum-flat and shimmering in the sun.
                    </p>
                  </div>
                  <div class="content-highlights">
                    <h3>
                      Zanzibar Highlights
                    </h3>
                    <ul class="box-img">
                      <li>
                        <div class="span-img">
                          <img alt="high-1" class="img-full img-100" src="assets/images/high-1.jpg">
                          <div class="wrap-text-high">
                            <div class="top-section-high">
                              Riding Horse Safari
                            </div>
                            <div class="bottom-section-high">
                              <i aria-hidden="true" class="fa fa-long-arrow-right md-size"></i>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="span-img">
                          <img alt="high-2" class="img-full img-100" src="assets/images/high-2.jpg">
                          <div class="wrap-text-high">
                            <div class="top-section-high">
                              Endemic Animal
                            </div>
                            <div class="bottom-section-high">
                              <i aria-hidden="true" class="fa fa-long-arrow-right md-size"></i>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="span-img">
                          <img alt="high-3" class="img-full img-100" src="assets/images/high-3.jpg">
                          <div class="wrap-text-high">
                            <div class="top-section-high">
                              Riding Elephant Safari
                            </div>
                            <div class="bottom-section-high">
                              <i aria-hidden="true" class="fa fa-long-arrow-right md-size"></i>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="span-img">
                          <img alt="high-4" class="img-full img-100" src="assets/images/high-4.jpg">
                          <div class="wrap-text-high">
                            <div class="top-section-high">
                              Wildebeest Migration 
                            </div>
                            <div class="bottom-section-high">
                              <i aria-hidden="true" class="fa fa-long-arrow-right md-size"></i>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="span-img">
                          <img alt="high-5" class="img-full img-100" src="assets/images/high-5.jpg">
                          <div class="wrap-text-high">
                            <div class="top-section-high">
                              Children Safari Play
                            </div>
                            <div class="bottom-section-high">
                              <i aria-hidden="true" class="fa fa-long-arrow-right md-size"></i>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="span-img">
                          <img alt="high-6" class="img-full img-100" src="assets/images/high-6.jpg">
                          <div class="wrap-text-high">
                            <div class="top-section-high">
                              Luxury Safari On Zanzibar
                            </div>
                            <div class="bottom-section-high">
                              <i aria-hidden="true" class="fa fa-long-arrow-right md-size"></i>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="content-contact-me hidden-xs hidden-sm">
                    <div class="row">
                      <div class="col-sm-6">
                        <h3>
                          Our Email
                        </h3>
                        <ul class="round-template blue-round">
                          <li>
                            <div class="icon-wrap">
                              <i aria-hidden="true" class="fa fa-envelope md-size"></i>
                            </div>
                          </li>
                          <li class="mail-contact">
                            mail@safari.com
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <h3>
                          Contact Us
                        </h3>
                        <ul class="round-template green-round">
                          <li>
                            <div class="icon-wrap">
                              <i aria-hidden="true" class="fa fa-phone md-size"></i>
                            </div>
                          </li>
                          <li class="mail-contact">
                            901 901 877 89
                          </li>
                        </ul>
                      </div>
                    </div>
                    <p class="mar-top-10 mar-btm-20">
                      To the north of the Delta the Chobe River, within easy driving distance of the Victoria Falls, attracts some of Africa’s largest elephant herds; while to the south the extraordinary Makgadikgadi and Nxai pans.
                    </p>
                    <p class="mar-btm-60">
                      At the heart of Zanzibar’s safari areas is the Okavango Delta, where Africa’s third-largest river fans across desert sands in a myriad of shimmering waterways and lagoons, giving birth to a green oasis half the size of Switzerland. A safari here is unique and a game watcher’s paradise as one of the world’s richest ecosystems teems with wildlife of all kinds. Though much of the water is seasonal, there are some permanent rivers, and mokoros (traditional poled canoes) glide silently by groves of papyrus and iridescent flocks of birds.
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 hidden-xs">
                  <div class="box-wrap">
                    <div class="location">
                      <h2>
                        Location
                      </h2>
                      <div class="box-location" id="map">
                        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:100%;width:100%;'><div id='gmap_canvas' style='height:100%;width:100%;'></div><div><small><a href="http://www.embedgooglemaps.com">Generate your Google map here, quick and easy!                 Click here                  Visit our website!</a></small></div><div><small><a href="https://binaireoptieservaringen.nl/">Wilt u geld verdienen met de handel in binaire opties, maar is het allemaal onduidelijk hoe dit precies werkt, en welke aanbieders betrouwbaar zijn? Lees dan verder op onze site: wij vergelijken aanbieders op betrouwbaarheid en kwaliteit. Zo komt u nooit voor verrassingen te staan. Wij van binaireoptieservaringen.nl helpen u graag!</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:6,center:new google.maps.LatLng(-22.328474,24.684866000000056),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-22.328474,24.684866000000056)});infowindow = new google.maps.InfoWindow({content:'<strong>Your Destination</strong><br>Zanzibar<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
                      </div>
                    </div>
                    <div class="box-blog">
                      <h2>
                        Latest Blog
                      </h2>
                      <div class="content-blog">
                        <img alt="latest-blog" class="img-100" src="assets/images/latest-blog.jpg">
                        <div class="title-blog">
                          African Riding Safari Packing List
                        </div>
                        <hr>
                        <p>
                          Thursday, 18th February 2016
                        </p>
                        <p>
                          To the north of the Delta the Chobe River, within easy driving distance of the Victoria Falls, attracts some of Africa’s largest elephant herds; while to the south the extraordinary Makgadikgadi.
                        </p>
                        <a href="#">Read More</a>&nbsp;
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="information-safari">
            <div class="container">
              <h2>
                In this moment ready to more deep ?
              </h2>
              <div class="button-wrap mar-top-20 mar-btm-0">
                <div class="form-group mar-btm-0">
                  <button class="btn button-default btn-orange">Bring me There !</button>
                </div>
              </div>
            </div>
          </div>
        </section>
</Layout>

