---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<section>
          <div class="animated fadeIn hide" id="banner-video">
            <video class="vid-100" autoplay loop><source src="assets/images/Giraffe.mp4" type="video/mp4"></video>
            <div class="title-video hidden-sm hidden-xs">
              <div class="content-text-video">
                <h2>
                  Safaria Journey
                </h2>
                <p>
                  Welcome to the Wonderfull Experience of Safari ever
                </p>
              </div>
            </div>
          </div>
          <div class="banner-1 animated fadeIn" id="banner-1">
            <div class="overlay-banner">
              &nbsp;
            </div>
            <div class="layer-slide-1 layer hidden-xs" data-depth="0.50" data-type="parallax"></div>
            <div class="layer-slide-1 layer visible-xs">
              &nbsp; 
            </div>
            <div class="layer-3 text-banner pull-top-100 hidden-xs hidden-sm">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5">
                    <h1>
                      Safaria
                    </h1>
                  </div>
                  <div class="col-sm-6">
                    <h2>
                      Welcome to incredible experience on Safaria
                    </h2>
                    <hr>
                    <p>
                      We love to share with you about making new journey never forget ever. Wonderfull experience thats start in here !
                    </p>
                    <p class="text-right">
                      - Thomas George  
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <div class="scroll-icon">
                      <div class="scroll-mouse"></div>
                      <p>
                        Scroll
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-2 animated fadeIn hide" id="banner-2">
            <div class="overlay-banner"></div>
            <div class="layer-slide-2 layer hidden-xs" data-depth="0.50" data-type="parallax"></div>
            <div class="layer-slide-2 layer visible-xs">
              &nbsp;
            </div>
            <div class="layer-3 text-banner pull-top-100 hidden-xs hidden-sm">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5">
                    <h1>
                      Safaria
                    </h1>
                  </div>
                  <div class="col-sm-6">
                    <h2>
                      Let's feel more deep with the wonderful result creator
                    </h2>
                    <hr>
                    <p>
                      Never many word can we explain to you, you must feel yourself what we feel now. Safaria its the answer !  
                    </p>
                    <p class="text-right">
                      - Erina Medame   
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <div class="scroll-icon">
                      <div class="scroll-mouse"></div>
                      <p>
                        Scroll
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-3 animated fadeIn hide" id="banner-3">
            <div class="overlay-banner"></div>
            <div class="layer-slide-3 layer hidden-xs" data-depth="0.50" data-type="parallax"></div>
            <div class="layer-slide-3 layer visible-xs">
              &nbsp;
            </div>
            <div class="layer-3 text-banner pull-top-100 hidden-xs hidden-sm">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5">
                    <h1>
                      Safaria
                    </h1>
                  </div>
                  <div class="col-sm-6">
                    <h2>
                      Riding Horse and see many animal free all day
                    </h2>
                    <hr>
                    <p>
                      Choose what you want do it with riding our horse, feel free whatever you wanna go. We happy can help you !
                    </p>
                    <p class="text-right">
                      - Mirana Angel   
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <div class="scroll-icon">
                      <div class="scroll-mouse"></div>
                      <p>
                        Scroll
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-4 animated fadeIn hide" id="banner-4">
            <div class="overlay-banner"></div>
            <div class="layer-slide-4 layer hidden-xs" data-depth="0.50" data-type="parallax"></div>
            <div class="layer-slide-4 layer visible-xs">
              &nbsp;
            </div>
            <div class="layer-3 text-banner pull-top-100 hidden-xs hidden-sm">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5">
                    <h1>
                      Safaria
                    </h1>
                  </div>
                  <div class="col-sm-6">
                    <h2>
                      Meet with our new family Rhino Family Gathering
                    </h2>
                    <hr>
                    <p>
                      Really amazing can see Rhino Family and take a picture with them is like my dream come true ! 
                    </p>
                    <p class="text-right">
                      - Tommy Davidson 
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <div class="scroll-icon">
                      <div class="scroll-mouse"></div>
                      <p>
                        Scroll
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-5 animated fadeIn hide" id="banner-5">
            <div class="overlay-banner"></div>
            <div class="layer-slide-5 layer hidden-xs" data-depth="0.50" data-type="parallax"></div>
            <div class="layer-slide-5 layer visible-xs">
              &nbsp; 
            </div>
            <div class="layer-3 text-banner pull-top-100 hidden-xs hidden-sm">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5">
                    <h1>
                      Safaria
                    </h1>
                  </div>
                  <div class="col-sm-6">
                    <h2>
                      Walking, Explore new journey with the bus to see Zebra
                    </h2>
                    <hr>
                    <p>
                      Amazing, Wonderfull, Great and whatever word best can say it's get on Safaria ! 
                    </p>
                    <p class="text-right">
                      - Amanda Corner  
                    </p>
                  </div>
                  <div class="col-sm-1">
                    <div class="scroll-icon">
                      <div class="scroll-mouse"></div>
                      <p>
                        Scroll
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="banner-mobile"></div>
          <div id="about">
            <div class="intro-safaria hidden-xs">
              <div class="container">
                <div class="wrap-intro">
                  <span class="button-intro"><a href="javascript:void(0);" id="js-intro"><i aria-hidden="true" class="fa fa-play"></i></a></span><span class="text-intro">Intro Safaria</span>
                </div>
              </div>
            </div>
            <div class="point-slider-image">
              <div class="container">
                <ul>
                  <li class="active active-5">
                    <div class="hover-active">
                      &nbsp; 
                    </div>
                    <div class="span-active act-5">
                      <div class="svg-table">
                        <div class="svg-cell">
                          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="active active-4">
                    <div class="hover-active">
                      &nbsp; 
                    </div>
                    <div class="span-active act-4 hide">
                      <div class="svg-table">
                        <div class="svg-cell">
                          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="active active-3">
                    <div class="hover-active">
                      &nbsp; 
                    </div>
                    <div class="span-active act-3 hide">
                      <div class="svg-table">
                        <div class="svg-cell">
                          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="active active-2">
                    <div class="hover-active">
                      &nbsp; 
                    </div>
                    <div class="span-active act-2 hide">
                      <div class="svg-table">
                        <div class="svg-cell">
                          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="active active-1">
                    <div class="hover-active">
                      &nbsp; 
                    </div>
                    <div class="span-active act-1 hide">
                      <div class="svg-table">
                        <div class="svg-cell">
                          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="weather-wrap">
                      <div class="weather-left">
                        <div class="weather-text">
                          Weather
                          <div class="icon-weather">
                            <div class="icon">
                              <img alt="cloud-icon" src="assets/images/cloud.png">
                            </div>
                            <div class="text-weather count">
                              24
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="weather-right">
                        <div class="weather-text">
                          5 Sep 2016
                          <div class="icon-weather">
                            <div class="icon">
                              <img alt="wing-icon" src="assets/images/wing.png">
                            </div>
                            <div class="text-weather count">
                              20
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="about-content">
              <img alt="big-logo" class="img-responsive img-center" src="assets/images/big-logo.png">
              <div class="container">
                <div class="br">
                  &nbsp;
                </div>
                <div class="br">
                  &nbsp;
                </div>
                <p>
                  Ridden, Driven, Drifted and Punted its all we have got it, scramble and flitted all over Increadible and wonderfull continent in search of the best places, the best adventures new journey and the best people to make your safari unfforgettable
                </p>
                <p>
                  We love Africa, and we love what we do.
                </p>
                <div class="br">
                  &nbsp;
                </div>
                <p>
                  Our enthusiasm is infectious, and our knowledge and attention to detail meticulous. All our safaris are planned with sustainability, conservation & community high on the agenda.
                </p>
                <div class="br">
                  &nbsp;
                </div>
                <hr>
                <h2 class="bold-font">
                  Call us now to plan your next safari &nbsp; 901 901 877 89
                </h2>
                <hr>
              </div>
            </div>
            <div class="promo-content">
              <div class="container">
                <h2>
                  Special Promo & Special Experience
                </h2>
                <div class="br">
                  &nbsp;
                </div>
                <div class="br">
                  &nbsp;
                </div>
              </div>
              <div class="homeslick">
                <div>
                  <div class="box-ex-promo box-purple">
                    <div class="top-section">
                      <div class="ex-one" style="background:url(assets/images/elephant.png) no-repeat right top">
                        <div class="left-ex">
                          <h4 class="bold-font">
                            $70
                          </h4>
                          <p class="text-left">
                            Riding Elephant Experience
                          </p>
                        </div>
                      </div>
                      <div class="bottom-section">
                        <div class="bottom-wrap">
                          <div class="bottom-table">
                            <div class="bottom-cell">
                              <a class="btn button-default btn-purple" href="blog.html">Read More</a>
                            </div>
                          </div>
                        </div>
                        <span>Now you can ridding elephant with best promo on safaria</span>
                        <div class="bar-section">
                          &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="box-ex-promo box-green">
                    <div class="top-section">
                      <div class="ex-one" style="background:url(assets/images/deer.png) no-repeat right top">
                        <div class="left-ex">
                          <h4 class="bold-font">
                            $50
                          </h4>
                          <p class="text-left">
                            Riding Deer Experience
                          </p>
                        </div>
                      </div>
                      <div class="bottom-section">
                        <div class="bottom-wrap">
                          <div class="bottom-table">
                            <div class="bottom-cell">
                              <a class="btn button-default btn-green" href="blog.html">Read More</a>
                            </div>
                          </div>
                        </div>
                        <span>Try Ridding Dear Experience on safaria now</span>
                        <div class="bar-section">
                          &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="box-ex-promo box-orange">
                    <div class="top-section">
                      <div class="ex-one" style="background:url(assets/images/cheetah.png) no-repeat right top">
                        <div class="left-ex">
                          <h4 class="bold-font">
                            $300
                          </h4>
                          <p class="text-left">
                            Photos with Cheetah
                          </p>
                        </div>
                      </div>
                      <div class="bottom-section">
                        <div class="bottom-wrap">
                          <div class="bottom-table">
                            <div class="bottom-cell">
                              <a class="btn button-default btn-orange" href="blog.html">Read More</a>
                            </div>
                          </div>
                        </div>
                        <span>Save your moment take a picture with cheetah</span>
                        <div class="bar-section">
                          &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="box-ex-promo box-pink">
                    <div class="top-section">
                      <div class="ex-one" style="background:url(assets/images/giraffe.png) no-repeat right top">
                        <div class="left-ex">
                          <h4 class="bold-font">
                            $20
                          </h4>
                          <p class="text-left">
                            Give Food for Giraffe
                          </p>
                        </div>
                      </div>
                      <div class="bottom-section">
                        <div class="bottom-wrap">
                          <div class="bottom-table">
                            <div class="bottom-cell">
                              <a class="btn button-default btn-pink" href="blog.html">Read More</a>
                            </div>
                          </div>
                        </div>
                        <span>Let's try give foof for Giraffe Experience</span>
                        <div class="bar-section">
                          &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="box-ex-promo box-blue">
                    <div class="top-section">
                      <div class="ex-one" style="background:url(assets/images/zebra.png) no-repeat right top">
                        <div class="left-ex">
                          <h4 class="bold-font">
                            $25
                          </h4>
                          <p class="text-left">
                            Riding Zebra Experience
                          </p>
                        </div>
                      </div>
                      <div class="bottom-section">
                        <div class="bottom-wrap">
                          <div class="bottom-table">
                            <div class="bottom-cell">
                              <a class="btn button-default btn-blue" href="blog.html">Read More</a>
                            </div>
                          </div>
                        </div>
                        <span>Try experience ridding zebra on safaria plan </span>
                        <div class="bar-section">
                          &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="destination">
              <div class="container">
                <h2>
                  Destination
                </h2>
                <ul class="destination-list">
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-1" class="img-100 img-full" src="assets/images/des-1.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              1
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            Botswana
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-2" class="img-100 img-full" src="assets/images/des-2.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              2
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            Kenya
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-3" class="img-100 img-full" src="assets/images/des-3.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              3
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            Madagascar
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-4" class="img-100 img-full" src="assets/images/des-4.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              4
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            Malawi
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-5" class="img-100 img-full" src="assets/images/des-5.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              5
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            Rwanda
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-6" class="img-100 img-full" src="assets/images/des-6.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              6
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            Tanzania
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-7" class="img-100 img-full" src="assets/images/des-7.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              7
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            Namibia
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-8" class="img-100 img-full" src="assets/images/des-8.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              8
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            Uganda
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="destination.html">
                      <div class="span-img">
                        <img alt="des-9" class="img-100 img-full" src="assets/images/des-9.jpg">
                        <div class="wrap-text-destination">
                          <div class="top-section-des">
                            <div class="round-des">
                              9
                            </div>
                          </div>
                          <div class="bottom-section-des">
                            South Africa
                          </div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="testimonials">
              <div class="container">
                <h2>
                  Testimonials
                </h2>
              </div>
              <div class="slidetestimony">
                <div>
                  Really happy can share our experience in here the best live I found in this area never forget what I have get in safaria
                  <div class="br">
                    Something Unforgettable Experience
                  </div>
                  <div class="br">
                    &nbsp;
                  </div>
                  <div class="br">
                    &nbsp;
                  </div>
                  <b>Codeopus Family</b>
                </div>
                <div>
                  Nothing much to say, im just say Wow its that I want, and Safaria making my dream come true 
                  <div class="br">
                    We love Safaria, we love you try like us.
                  </div>
                  <div class="br">
                    &nbsp;
                  </div>
                  <div class="br">
                    &nbsp;
                  </div>
                  <b>Codeopus Family</b>
                </div>
                <div>
                  Amazing, really really amazing can stop to say Awesome to take new experience
                  <div class="br">
                    &nbsp;
                  </div>
                  <div class="br">
                    &nbsp;
                  </div>
                  <b>Codeopus Family</b>
                </div>
              </div>
            </div>
          </div>
          <div class="register-safaria">
            <div class="container">
              <h2>
                Lets try thousands special experience 
              </h2>
              <h2>
                you never feel before ! 
              </h2>
              <img alt="book-img" class="img-responsive img-center img-30" src="assets/images/book.png"><a class="white-link text-center" href="javascript:void(0);">Sign up for our Newsletter    |   Download a free copy of our Insider's Guide when you do</a>
              <div class="form-newsletter">
                <div class="row">
                  <div class="col-sm-4 pad-right-75">
                    <div class="form-group">
                      <span class="input input--kohana"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-user icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Full Name</span></label></span>
                    </div>
                  </div>
                  <div class="col-sm-4 pad-right-75 pad-left-75">
                    <div class="form-group">
                      <span class="input input--kohana"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-envelope icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Email Address</span></label></span>
                    </div>
                  </div>
                  <div class="col-sm-4 pad-left-75">
                    <div class="form-group">
                      <span class="input input--kohana"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-phone icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Phone Number</span></label></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-wrap mar-top-20">
                <div class="form-group">
                  <button class="btn button-default btn-pink">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
