--- 
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head transition:animate="none">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Booking - Safari Responsive Themes" name="description">
    <meta content="Codeopus" name="author">
    <link href="assets/images/favicon.png" rel="shortcut icon">
    <title>Booking</title>
    <link href="/assets/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/stylesheets/css/font-family.css" rel="stylesheet">
    <link href="/assets/stylesheets/css/style.css" rel="stylesheet">
    <link href="/assets/stylesheets/css/global.css" rel="stylesheet">
    <link href="/assets/javascripts/slick/slick-theme.css" rel="stylesheet">
    <link href="/assets/javascripts/slick/slick.css" rel="stylesheet">
    <link href="/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/css/effect-preloader.css" rel="stylesheet" type="text/css">
    <script src="/assets/javascripts/preloader/modernizr.custom.js" is:inline></script>

    <ViewTransitions />
  </head>
  <body class="demo-1">
   <slot/>
    <script src="/assets/javascripts/jquery.js" is:inline></script>
    <script src="/assets/javascripts/bootstrap.js" is:inline></script>
    <script src="/assets/javascripts/custom.js" is:inline></script>
    <script src="/assets/javascripts/slick/slick.min.js" is:inline></script>
    <script src="https://www.youtube.com/iframe_api" is:inline></script>
  </body>
</html>
