---
import ResourceLayout from '../layouts/ResourceLayout.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

  <ResourceLayout title="Welcome to Astro.">
    <div class="ip-container" id="ip-container">
      <!--initial header-->
      <!--main content-->
      <div class="ip-main">
        <div class="search-wrap hide" id="js-search">
          <div class="content-search">
            <div class="container">
              <h2>
                Search Destination
              </h2>
              <div class="form-group">
                <span class="input input--kohana"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-search icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Search</span></label></span>
              </div>
            </div>
            <div class="close-pop">
              <a href="javascript:void(0);">Close</a>
            </div>
          </div>
        </div>
        <div class="login-wrap hide" id="js-login">
          <div class="content-login">
            <div class="box-login">
              <div class="box-content-login">
                <div class="form-group">
                  <h2>
                    Log in
                  </h2>
                </div>
                <div class="form-group">
                  <span class="input input--kohana"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-user icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Username</span></label></span>
                </div>
                <div class="form-group">
                  <span class="input input--kohana"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-envelope icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Email</span></label></span>
                </div>
                <div class="form-group">
                  <button class="btn button-default button-full btn-pink">Submit</button>
                </div>
              </div>
            </div>
          </div>
          <div class="close-pop">
            <a href="javascript:void(0);">Close</a>
          </div>
        </div>
        <div class="menu-wrap hide" id="js-menu">
          <div class="col-sm-12 col-md-9">
            <div class="w-24 visible-lg">
              <a class="navbar-brand" href="javascript:void(0);"><img alt="big-logo" class="img-responsive" src="assets/images/big-logo.png"></a>
            </div>
            <div class="w-76">
              <h3 class="nav-menu text-center">
                Navigator
              </h3>
              <div class="row">
               <div class="col-sm-4">
                  <ul class="style-menu">
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li>
                      <a href="/about">About</a>
                    </li>
                    <li>
                      <a href="/contact">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
              <h3 class="nav-menu text-center mar-top-20">
                Social Media
              </h3>
              <div class="socmed-list text-center">
                <ul>
                  <li>
                    <i aria-hidden="true" class="fa fa-facebook"></i>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-twitter"></i>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-instagram"></i>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-pinterest"></i>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-youtube-play"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="close-pop">
            <a href="javascript:void(0);">Close</a>
          </div>
        </div>
        <header>
          <div id="header-wrap">
            <nav class="navbar navbar-safaria">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="javascript:void(0);"><img alt="logo-white" src="assets/images/logo-white.png"></a>
                  <ul class="navbar-mobile visible-xs">
                    <li>
                      <a class="js-search md-size" href="javascript:void(0);"><i aria-hidden="true" class="fa fa-search"></i></a>
                    </li>
                    <li>
                      <a class="js-menu" href="javascript:void(0);">
                        <div class="burger-icon">
                          <div class="strip-icon">
                            &nbsp;
                          </div>
                          <div class="strip-icon">
                            &nbsp;
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
               <div class="hidden-xs" id="navbar">
                  <ul class="nav navbar-nav navbar-right">
                     <li>
                      <a  href="/">Home</a>
                    </li>
                    <li>
                      <a  href="/about">About</a>
                    </li>
                    <li>
                      <a  href="/contact">Contact</a>
                    </li>
                    <li>
                      <a class=" js-login" href="javascript:void(0);">Login</a>
                    </li>
                    <li>
                      <a class="js-search md-size" href="javascript:void(0);"><i aria-hidden="true" class="fa fa-search"></i></a>
                    </li>
                    <li>
                      <a class="js-menu hidden-lg" href="javascript:void(0);">Menu
                        <div class="burger-icon">
                          <div class="strip-icon">
                            &nbsp;
                          </div>
                          <div class="strip-icon">
                            &nbsp;
                          </div>
                          <div class="strip-icon">
                            &nbsp;
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
                <!--/.nav-collapse-->
              </div>
            </nav>
          </div>
        </header>
        <slot/>
        <footer class="js-footer">
          <div class="wrap-footer mar-top-450">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <div class="text-left">
                    <h2>
                      About Us
                    </h2>
                    <p>
                      We offers extraordinary wildlife expeditions, connecting you with nature's beauty.
                    </p>
                    <div class="socmed-list">
                      <ul>
                        <li>
                          <i aria-hidden="true" class="fa fa-facebook"></i>
                        </li>
                        <li>
                          <i aria-hidden="true" class="fa fa-twitter"></i>
                        </li>
                        <li>
                          <i aria-hidden="true" class="fa fa-instagram"></i>
                        </li>
                        <li>
                          <i aria-hidden="true" class="fa fa-pinterest"></i>
                        </li>
                        <li>
                          <i aria-hidden="true" class="fa fa-youtube-play"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="text-center">
                    <h2>
                      Newsletter
                    </h2>
                    <div class="form-group">
                      <span class="input input--kohana"><input class="input__field input__field--kohana" type="text"><label class="input__label input__label--kohana"><i class="fa fa-fw fa-envelope icon icon--kohana"></i><span class="input__label-content input__label-content--kohana">Your Email</span></label></span>
                    </div>
                    <h2>
                      Latest Photo
                    </h2>
                    <ul class="latest-photo">
                      <li>
                        <a href="gallery.html"><img alt="gallery-1" class="img-100" src="assets/images/point1.jpg"></a>
                      </li>
                      <li>
                        <a href="gallery.html"><img alt="gallery-2" class="img-100" src="assets/images/point2.jpg"></a>
                      </li>
                      <li>
                        <a href="gallery.html"><img alt="gallery-3" class="img-100" src="assets/images/point3.jpg"></a>
                      </li>
                      <li>
                        <a href="gallery.html"><img alt="gallery-4" class="img-100" src="assets/images/point5.jpg"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4">
                  <div class="text-right">
                    <h2>
                      Contact
                    </h2>
                    <p>
                      Booking Company Address<br>Jl Soekarno Street 077 SP 70A, Cimahi<br><br>+ 255 753 947 233<br>mail@booking.com
                    </p>
                    <div class="logo-footer">
                      <img alt="big-logo" src="assets/images/big-logo.png">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mar-top-40">
                <div class="col-sm-6">
                  <p class="text-left">
                    Terms of Condition  | Privacy Policy  | FAQ
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="text-right">
                    Copyright Jasmai Media Solutions All Right Reserve 2016
                  </p>
                </div>
                <!--/.nav-collapse-->
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    </ResourceLayout>
